.p-input {
  $parent: #{&};

  z-index: 0;

  @extend %transition-fast;

  height: 40px;
  border: 1px solid transparent;
  outline: none;
  padding-right: 16px;
  padding-left: 16px;

  &:focus {
    border-color: $color-primary;
  }

  @at-root  #{$parent}__prefix {
    @extend %centering;

    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);

    height: calc(100% - 8px);
    padding: 0 8px;

    font-size: 14px;
    background: #eaeaea;
    border-radius: 8px;
    color: #5d5d5d;
    z-index: 8;
  }

  textarea#{&} {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &--primary {
    border: 1px solid #e6e6e6;
    color: #626262;
    border-radius: 12px;
    padding-right: 16px;
    padding-left: 16px;
  }

  &--sm {
    height: 32px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
  }

  &--lg {
    height: 48px;
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &.has-prefix {
    #{$parent}__input {
      padding-left: 48px;
    }
  }
}

.form-control {
  display: block;
  padding: 0.4375rem 0.875rem;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  width: 100%;
  height: 40px;

  border: rgb(229, 231, 235) solid 1px;
  box-shadow: 0 0 0 rgba(black, 0.1);
  border-radius: 0.75rem !important;

  &:focus {
    border-color: $color-secondary !important;
    box-shadow: 0 0 4px 2px rgba($color-secondary, 0.1);
  }

  &.has-error {
    border-color: $color-danger;
    box-shadow: 0 0 6px 2px rgba($color-danger, 0.2);
  }

  &.has-attract {
    border-color: $color-primary !important;
  }
}

.disabled {
  color: #999;
  background-color: #fafafa;
  opacity: 1;
  pointer-events: none;
}

